<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Track | Track's interesting sites</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
</head>
<body>
<h1>Track's interesting sites</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Altitude</th>
        <th>GPSDirection</th>
        <th>GPSLatitude</th>
        <th>GpsLongitude</th>
    </tr>
    </thead>
    <tr th:each="s: ${interestingSites}">
        <td th:text="${s.id}">Id</td>
        <td th:text="${s.name}">Name</td>
        <td th:text="${s.altitude}">Altitude</td>
        <td th:text="${s.GPSDirection}">GPSDirection</td>
        <td th:text="${s.GPSLatitude}">GPSLatitude</td>
        <td th:text="${s.GPSLongitude}">GPSLongitude</td>
        <td><a href="#" th:href="@{'/tracks/deleteSite?trackId='+${trackId}+'&isId='+${s.id}}">delete</a> </td>
    </tr>
</table>
<p>
    <a href="#" th:href="@{'/interestingSites/selectAdd?trackId=' + ${trackId}}">Add interesting site</a></br>
    <a href="/tracks">Back to list of all tracks</a>
</p>

</body>
</html>